.gdbhist
.gdbinit
*.o
*.dump
*.elf
*.raw
util/fs/mkfs_ktfs
util/fs/unmkfs_ktfs
util/fs/mkfs_lffs
util/fs/unmkfs_lffs
.vscode
.clang-format
.clangd
*.log
usr/bin

*/.gdbhist
*/.gdbinit
*/*.o
*/*.dump
*/*.elf
*/*.raw
*/util/fs/mkfs_ktfs
*/util/fs/unmkfs_ktfs
*/util/fs/mkfs_lffs
*/util/fs/unmkfs_lffs
*/.vscode
*/.clang-format
*/.clangd
*/*.log
*/usr/bin