.gdbhist
.gdbinit
*.o
*.dump
*.elf
*.raw
util/fs/mkfs_ktfs
util/fs/unmkfs_ktfs
util/fs/mkfs_ngfs
util/fs/unmkfs_ngfs
.vscode
.clang-format
.clangd
*.log
usr/bin

*/.gdbhist
*/.gdb_history
*/.gdbinit
*/*.o
*/*.dump
*/*.elf
*/*.raw
*/util/fs/mkfs_ktfs
*/util/fs/unmkfs_ktfs
*/util/fs/mkfs_ngfs
*/util/fs/unmkfs_ngfs
*/.vscode
*/.clang-format
*/.clangd
*/*.log
*/usr/bin

!sys/games
!sys/games/*.o
